<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <title>Tag Prediction</title>
    <!-- adding css -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- adding google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- lora -->
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap"
      rel="stylesheet"
    />
    <!-- playfair -->
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Playfair+Display:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- own files -->
    <!--<link rel="stylesheet" href="D:/SocialDistance/templates/styles.css" />-->
     <link  href="{{ url_for('static',filename ='/styles.css') }}"  rel="stylesheet">

  </head>
  <body>
    <h1 class="text-center fontLora">Tag Prediction Of Stack Overflow Question Using NLP and ML</h1>
    <br/><br />
    <div class="container">
      <form method="post" class="text-center">

        <h3>Predict tag:</h3>
        <div class ="row ">
          <input type="text"  placeholder="Enter Title and Body" name="titlebody" id="titlebody" class="form-control col-md-offset-3" required/>
        </div>
        <br>
        <div class="row">
             <div class="col text-center">
          <input type="submit" value="Predict" class="btn btn-lg btn-outline-dark col-md-4" formaction="{{ url_for('predict') }}"/>
            </div>
          <div class="col text-center">
<button class="btn btn-lg btn-outline-dark col-md-4" ><a href="http://127.0.0.1:9000/">Back</a></button>

        </div>
        </div>
        </form>

    </div>
        <center>
<h1>{{var}}</h1>
</center>
  <script src="{{ url_for('static',filename ='/index.js') }}"></script>
  </body>

</html>