<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <title>Tag Prediction</title>
    <!-- adding css -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- adding google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- lora -->
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap"
      rel="stylesheet"
    />
    <!-- playfair -->
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Playfair+Display:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- own files -->
    <!--<link rel="stylesheet" href="D:/SocialDistance/templates/styles.css" />-->
    <link
      href="{{ url_for('static',filename ='/styles.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1 class="text-center fontLora">
      Tag Prediction Of Stack Overflow Question Using NLP and ML
    </h1>
    <br /><br />
    <div class="container">
      <form method="post" class="text-center">
        <h3 class="text-center">Click to train and test the model based on:</h3>
        <div class="row">
          <input
            type="submit"
            value="Title"
            class="btn btn-lg btn-outline-dark col-md-4"
            formaction="{{ url_for('titleModule') }}"
          />
          <input
            type="submit"
            value="Body"
            class="btn btn-lg btn-outline-dark col-md-4"
            formaction="{{ url_for('bodyModule') }}"
          />
          <input
            type="submit"
            value="Body and Title"
            class="btn btn-lg btn-outline-dark col-md-4"
            formaction="{{ url_for('bodyAndTitleModule') }}"
          />
        </div>
        <br />
        <h3 class="text-center">Click for graphs comparison:</h3>
        <div class="row">
          <input
            type="submit"
            value="Recall"
            class="btn btn-lg btn-outline-dark col-md-4"
            formaction="{{ url_for('recallGraph') }}"
          />
          <input
            type="submit"
            value="Fgraphs"
            class="btn btn-lg btn-outline-dark col-md-4"
            formaction="{{ url_for('FGraph') }}"
          />
          <input
            type="submit"
            value="Precision"
            class="btn btn-lg btn-outline-dark col-md-4"
            formaction="{{ url_for('precisionGraph') }}"
          />
        </div>
        <br />
        <h3 class="text-center">Click for predicting</h3>
        <div class="flex">
          <input
            type="submit"
            value="Make Prediction"
            class="btn btn-lg btn-outline-dark col-md-4"
            formaction="{{ url_for('question') }}"
          />
        </div>
        <br />
      </form>
    </div>
    <center>
      <h1>{{var}}</h1>
    </center>
    <script src="{{ url_for('static',filename ='/index.js') }}"></script>
  </body>
</html>
